<html>
    <head>
        <title>Ankit's Django blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Ankit's Blog</a></h1>
        </div>

        <div>
            <p>published: 19.10.2018, 12:15</p>
            <h2><a href="">My first post</a></h2>
            <p>I am learning python alongwith Django. This is my first web application using python and django</p>
        </div>

        <div>
            <p>published: 21.10.2018, 03:20</p>
            <h2><a href="">My second post</a></h2>
            <p>I have interest in competitive coding and data science. I am learning web development as well.</p>
        </div>
    </body>
</html>